@import "../../scss/abstracts/_variables.scss";
@import "../../scss/abstracts/_mixins.scss";

.filter {
    width: 100%;
    position: relative;


	&__input_box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		padding: 5px 0;
		border-bottom: 1px solid $black;
		

		input {
			@include input-field;
			appearance: textfield;
			border: none;
			outline: none;
			background: transparent;
			width: 100%;
		}
	}

    &__delete {
        font-size: 20px;
        line-height: 10px;
        cursor: pointer;
    }

	&__list {
        position: absolute;
        width: 100%;
        z-index: 1;
       
		max-height: 200px;
		overflow: hidden;
		overflow-y: auto;
		background: $white;
		box-shadow: $shadow;
		margin-top: 5px;

		&__item {
			padding: 10px 10px;
			cursor: pointer;
			transition: $transition;
			&:hover {
				background: $second-white;
			}
		}

		&_hide {
			display: none;
		}
	}
}
