.headline_first {
	@include headline;

	font-size: 64px;
	line-height: 64px;
}

.headline_second {
	@include headline;

	font-size: 30px;
	line-height: 45px;
}
.headline_third {
	@include headline;

	font-size: 16px;
	line-height: 150%;
}
.headline_fourth {
	@include headline;

	font-size: 12px;
	line-height: 16px;
}

.text {
	font-weight: 500;
	font-size: 16px;
	line-height: 32px;
}

.header_link {
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
	color: $white;
	transition: $transition;

	&:hover {
		color: $primary-color;
	}
}


