@import "../../scss/abstracts/_variables.scss";
@import "../../scss/abstracts/_mixins.scss";

.filters {
	margin-bottom: 30px;
	padding: 20px;
	background: $white;
	box-shadow: $shadow;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__form_group {
		display: flex;
		gap: 20px;
		justify-content: space-between;
	}

	&__control {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;
		width: 25%;
	}

	span {
		@include form-headline;
	}
}

.filter_range {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 10px;
	width: 100%;

	span{
		grid-column-start: 1; 
		grid-column-end: 3;
	}
}
