@import "../../scss/abstracts/_variables.scss";
@import "../../scss/abstracts/_mixins.scss";

.filters {
	margin-bottom: 30px;
	padding: 20px;
	background: $white;
	box-shadow: $shadow;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__form_group {
		display: flex;
		gap: 20px;
		justify-content: space-between;
	}

	&__control {
		display: flex;
		justify-content: space-between;
		gap: 15px;
		width: 35%;
	}

	span {
		@include form-headline;
	}

	@media (max-width: 700px){
		&__control,&__form_group{
			flex-direction: column;
		}
		&__control{
			width: 100%;
		}
	}
}

.filter_range {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.fields{
	display: flex;
	gap: 10px;
}

.select_container {
	width: 100%;
}
