@import "../../../scss/abstracts/_variables.scss";
@import "../../../scss/abstracts/_mixins.scss";

.about_more {
	display: grid;
	grid-template-columns: 2fr 1.5fr;
	gap: 20px;
	margin-top: 20px;

	&__main {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 20px;
	}

	&__secondary {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	@media (max-width: 992px) {
		grid-template-columns: 1fr;
	}
}

.about_gallery__swiper {
	max-width: 460px;
	max-height: 360px;

	.swiper-slide {
		width: 100%;
	}

	img {
		display: block;
		max-width: 460px;
		max-height: 400px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
}

.more_block {
	border-radius: $border;
	box-shadow: $shadow;
	background: $white;
	padding: 20px;
	width: 100%;
	line-height: 24px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	height: fit-content;

	&__headline {
		color: $primary-color;
		margin-bottom: 20px;
	}

	@media (max-width: 992px) {
		width: 100%;
	}
}

.facts {
	display: flex;
	flex-direction: column;

	&__item {
		position: relative;
		padding-left: 30px;
		margin-bottom: 10px;
		transition: $transition;

		&::before {
			content: "";
			display: block;
			background: url("../../../assets/icons/bulb.svg") no-repeat;
			background-size: 20px;
			width: 20px;
			height: 20px;
			display: block;
			position: absolute;
			top: 5%;
			left: 0;
		}
	}

	&__btns {
		display: flex;
		justify-content: flex-end;
		gap: 20px;
		@media (max-width: 600px) {
			flex-direction: column;
		}
	}

	&__btn {
		background: none;
		border: none;
		background: $primary-color;
		color: $accent-color;
		width: 170px;
		cursor: pointer;
		align-self: center;
		&:hover {
			background: darken($primary-color, 5%);
		}
	}
}

.spoiler {
	backdrop-filter: blur(5px);
	filter: blur(4px);
	&__btn {
		width: 200px;
	}
}

.image {
	img {
		width: 100%;
	}
}

.awards {
	display: flex;
	flex-direction: column;

	.nominations {
	}
	.wins {
	}
	&__item {

	}
}
