@import "../../scss/abstracts/_variables.scss";

.button {
	background: none;
	border: none;
	text-decoration: none;

	font-family: inherit;
	font-size: $text;
	font-weight: 500;
	color: inherit;
	letter-spacing: 0.5px;

	box-shadow: $shadow;
	border-radius: 20px;
	padding: 7px 15px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	transition: $transition;

	&:hover {
	}
}

.accent {
	background: $black;
	color: $white;
	&:hover {
		background: $white;
		color: $black;
	}
}

.primary {
}
