@import "../../../scss/abstracts/_variables.scss";
@import "../../../scss/abstracts/_mixins.scss";

.link {
	font-size: 16px;
	line-height: 32px;
	color: $black;
	font-weight: 500;
	transition: $transition;
	&:hover {
		color: $primary-color;
	}
}

.header {
	&::after {
		content: "";
		display: block;
		border-bottom: 2px solid $black;
		width: 30px;
		transition: $transition;
	}
	&:hover {
		&::after {
			width: 100%;
		}
	}

	@media (max-width: 1024px) {
		padding: 5px 15px;
		&:hover {
			background: $accent-color;
		}

		&::after {
			display: none;
		}
	}
}

.footer {
}

.body {
}

.additional {
}
