@import "../../../scss/abstracts/_variables.scss";
@import "../../../scss/abstracts/_mixins.scss";

.container {
	display: flex;
	gap: 30px;

	&__img {
		border-radius: $border;
		overflow: hidden;
		max-height: 700px;
		max-width: 400px;
		height: 100%;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__content {
		display: grid;
		grid-template-columns: 3fr auto;
		gap: 40px;
		width: 100%;
		padding: 30px,;
		border-radius: $border;
		background: $white;
		box-shadow: $shadow;
	}

	@media (max-width: 1024px){
		flex-direction: column;
		align-items: center;

		&__img {
			max-height: 600px;
			max-width: 360px;
		}

		&__content{
			grid-template-columns: 1fr;
		}
	}

}
