@import "../../scss/abstracts/_variables.scss";

.movie_card {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 360px;
	border-radius: 5px;
	background: $white;
	box-shadow: $shadow;
	
	transition: $transition;

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__img {
		max-height: 250px;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&:hover {
		transform: translateY(5px);
		background: $second-white;
	}

	&__content {
		height: 100%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__ratings {
		display: flex;
		justify-content: space-between;
	}
}
