@import "../../../../scss/abstracts/_variables.scss";
@import "../../../../scss/abstracts/_mixins.scss";

.details {
	h3 {
		&::after {
			content: "";
			display: block;
			border-top: 1px solid $primary-color;
			width: 100%;
			margin: 20px 0;
		}
	}
}

.field {
	display: flex;
	gap: 20px;
	margin-bottom: 15px;
    
	span {
		color: $additional-color;
		width: 160px;
		font-size: 14px;
		font-weight: 500;
	}
}