@import "../../scss/abstracts/_variables.scss";
@import "../../scss/abstracts/_mixins.scss";

.input {
	@include input-field;
	appearance: textfield;
	border: none;
	outline: none;
	padding: 5px 10px;
	background: transparent;
	border-bottom: 1px solid $black;
	width: 100%;

	&::placeholder {
		color: $additional-color;
		opacity: 0.5;
	}
}
