$font-fam: "Roboto", sans-serif;
$white: #fff;
$black: #393939;
$primary-color: #c9c9b6;
$secondary-color: #9f9f8e;
$accent-color: #848474;
$text-color: #999999;
$additional-color: #555c66;
$transition: all 0.2s ease-out;
$headline: 25px;
$text: 16px;
$additional: 12px;
$header-height: 70px;
$footer-height: 0px;
