$font-fam: "Roboto", sans-serif;

$white: #fff;
$second-white: #f9f6ee;
$background-main: #f9f9fb;
$black: #393939;
$text-color: #999999;

$primary-color: #c9c9b6;
$secondary-color: #9f9f8e;
$accent-color: #848474;
$additional-color: #555c66;

$transition: all 0.2s ease-out;
$headline: 25px;
$text: 16px;
$additional: 12px;
$header-height: 70px;
$footer-height: 0px;
$shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

$green: #008450;
$yellow: #EFB700;
$red: #B81d13;