@import "../../../scss/abstracts/_variables.scss";
@import "../../../scss/abstracts/_mixins.scss";

.movie_header {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;

	h1 {
	}
	h2 {
		color: $secondary-color;
		font-weight: 400;
	}

	a {
		padding: 7px 15px;
		background: $second-white;
		color: $white;
		background: $black;
		border-radius: 20px;
		font-size: 12px;
		font-weight: 600;
		transition: $transition;
		display: flex;
		align-items: center;
		gap: 5px;
		box-shadow: $shadow;

		&:hover {
			color: $black;
			background: $white;
		}

		svg {
			width: 16px;
		}
	}
}
