@import "../../scss/abstracts/_variables.scss";

.loading {
	height: calc(90vh - $header-height);
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ring {
	display: inline-block;
	width: 80px;
	height: 80px;

	&:after {
		content: " ";
		display: block;
		width: 64px;
		height: 64px;
		margin: 8px;
		border-radius: 50%;
		border: 6px solid $black;
		box-shadow: $shadow;
		border-color: $black transparent $black transparent;
		animation: ring 1.2s linear infinite;
	}
}

@keyframes ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
