@import "../../../scss/abstracts/_variables.scss";
@import "../../../scss/abstracts/_mixins.scss";

.filters_container {
	margin-bottom: 30px;
	padding: 20px;
	background-color: $second-white;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__form_group {
		display: flex;
		gap: 20px;
		justify-content: space-between;
	}

	&__control {
		display: flex;
		gap: 15px;
	}

	span {
		@include form-headline;
	}
}
