@import "../../../scss/abstracts/_variables.scss";
@import "../../../scss/abstracts/_mixins.scss";

.details{
    h3{
        &::after{
            content:"";
            display: block;
            border-top: 1px solid $additional-color;
            width: 100%;
            margin: 20px 0;
        }
    }
}