@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./abstracts/_variables.scss";
@import "./abstracts/mixins.scss";
@import "./typography/typography.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-style: normal;
	scrollbar-width: thin;
    scrollbar-color: $black $additional-color;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 5px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

:root {
	font-family: $font-fam;
}

body {
	background: $primary-color;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.select_container {
	width: 100%;
}

.custom_select {
	&__value-container:focus-visible,
	&__single-value:focus-visible,
	&__input-container:focus-visible,
	&__placeholder:focus-visible {
		outline: none !important;
	}

	&__indicators {
		display: none !important;
	}

	&__menu{
		background-color: $additional-color !important;
	}

	&__control {
		background: none !important;
		outline: none !important;
		border: none !important;
		box-shadow: none !important;
		border-bottom: 1px solid $accent-color !important;
		border-radius: 0 !important;
	}

	&__option{
		color: $white !important;
		font-size: 16px;
		&--is-focused{
			background-color: $black !important;
			cursor: pointer !important;
			
		}
		&--is-selected{
			background-color: $black !important;
		}
	}

	&__single-value {
		@include input-field;
	}
	
	&__placeholder {
		color: $additional-color !important;
		opacity: 0.5 !important;
	}
}

.accent{
	background-color: $accent-color;
}

.primary{
	background-color: $primary-color;
}